openapi: 3.0.3
info:
  title: Surya Yudha Cinema Booking Backend - Api Documentation
  version: 1.0.0
  description: Dokumentasi backend aplikasi Cinema E-Ticket Booking Platform (Surya Yudha)

servers:
  - url: http://localhost:3000/api/v1
    description: Local Development

tags:
  - name: Auth
    description: Endpoints otentikasi
  - name: Movies
    description: Endpoints film

paths:
  /movies:
    get:
      $ref: './paths/movies/list.yaml'
    post:
      $ref: './paths/movies/create.yaml'

  /movies/{id}:
    get:
      $ref: './paths/movies/detail.yaml'
    patch:
      $ref: './paths/movies/update.yaml'
    delete:
      $ref: './paths/movies/delete.yaml'

  /auth/login:
    post:
      $ref: './paths/auth/login.yaml'

  /auth/register:
    post:
      $ref: './paths/auth/register.yaml'

  /auth/logout:
    post:
      $ref: './paths/auth/logout.yaml'

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: accessToken
      description: Cookie HttpOnly berisi JWT (accessToken)

  responses:
    SuccessResponse:
      $ref: './components/responses.yaml#/SuccessResponse'
    CreatedResponse:
      $ref: './components/responses.yaml#/CreatedResponse'
    NotFoundResponse:
      $ref: './components/responses.yaml#/NotFoundResponse'
    ValidationErrorResponse:
      $ref: './components/responses.yaml#/ValidationErrorResponse'
    UnauthorizedResponse:
      $ref: './components/responses.yaml#/UnauthorizedResponse'

  schemas:
    RegisterDto:
      $ref: './schemas/auth.yaml#/RegisterDto'
    LoginDto:
      $ref: './schemas/auth.yaml#/LoginDto'
    AuthUser:
      $ref: './schemas/auth.yaml#/AuthUser'
    LoginSuccess:
      $ref: './schemas/auth.yaml#/LoginSuccess'

    ErrorResponse:
      $ref: './schemas/common.yaml#/ErrorResponse'

    Movie:
      $ref: './schemas/movies.yaml#/Movie'
    MovieGenre:
      $ref: './schemas/movies.yaml#/MovieGenre'
    Genre:
      $ref: './schemas/movies.yaml#/Genre'
    MovieListResponse:
      $ref: './schemas/movies.yaml#/MovieListResponse'
    CreateMovieDto:
      $ref: './schemas/movies.yaml#/CreateMovieDto'
